/*Strip the ul of padding and list styling*/
.bar ul {
    list-style-type:none;
    margin:auto auto;
    padding:0;
    position: absolute;
  }
  /*Create a horizontal list with spacing*/
  .bar li {
    display:inline-block;
    float: left;
    margin-right: 1px;
  }
  /*Style for menu links*/
  .bar li a {
    display:block;
    min-width:158px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
  }
  /*Hover state for top level links*/
  .bar li:hover a,.bar li:active a {
    background: #19c589;
  }
  /*Style for dropdown links*/
  .bar li:hover ul input[type=submit],.bar li:hover ul a
  ,.bar li:active ul input[type=submit],li:active ul a{
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
    justify-items: auto;
  }
  
  /*Hover state for dropdown links*/
  .bar li:hover ul a:hover,.bar li:hover ul input[type=submit]:hover
  ,.bar li:active ul a:active,.bar li:active ul input[type=submit]:active {
    background: #19c589;
    color: #fff;
  }
  
  /*Hide dropdown links until they are needed*/
  .bar li ul {
    display: none;
  }
  
  /*Make dropdown links vertical*/
  .bar li ul li {
    display: block;
    float: none;
  }
  
  /*Prevent text wrapping*/
  .bar li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
  }
  
  /*Display the dropdown on hover*/
  .bar ul li a:hover + .hidden, .bar .hidden:hover
  ,.bar ul li a:active + .hidden, .bar .hidden:active {
    display: block;
    z-index: 4;
  }
  
  /*Style 'show menu' label button and hide it by default*/
  .show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
  }
  
  /*Hide checkbox*/
  .bar input[type=checkbox]{
    display: none;
  }
  
  /*Show menu when invisible checkbox is checked*/
  .bar input[type=checkbox]:checked ~ #menu{
    display: block;
  }
  
  
  .bar h3{
    padding-right: 500px ;
  }
  
  .Tables #icon { 
    background:black;
    color: white; 
    border-style: solid;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 5px; 
    margin-top: 10px;
    display: flex;
  }
  
  .Tables #icon:hover{
    background:skyblue;
  }
  
  #invisible{
    visibility: hidden;
  }
  
  #visible{
    visibility: visible;
  }
  
  .Tables #plus{
    position: relative;
    margin-top: 5px;
    color: black;
    size: 10px;
  }
  
  /*Responsive Styles*/
  @media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    .bar ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .bar li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .bar ul li, .bar li a,.bar li input[type=text] {
        width: 100%;
        z-index: initial;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
  }
  

body {
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #777;
}

body h1 {
    font-weight: 300;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #000;
}

body h3 {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
    color: #555;
}

body a {
    color: #06f;
}

.invoice-box {
    max-width: 800px;
    margin-left: 30%;
    padding: 60px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    position: absolute;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    border-collapse: collapse;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

#visible{
    
}

#hidden{
    display: none;
}


  .templates #invoice{
      padding: 30px;
  }

  .templates .invoice {
      position: relative;
      background-color: #fff;
      min-height: 680px;
      padding: 15px
  }

  .templates .invoice header {
      padding: 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #3989c6
  }

  .templates .invoice .company-details {
      text-align: right
  }

  .templates .invoice .company-details .name {
      margin-top: 0;
      margin-bottom: 0
  }

  .templates .invoice .contacts {
      margin-bottom: 20px
  }

  .templates .invoice .invoice-to {
      text-align: left
  }

  .templates .invoice .invoice-to .to {
      margin-top: 0;
      margin-bottom: 0
  }

  .templates .invoice .invoice-details {
      text-align: right
  }

  .templates .invoice .invoice-details .invoice-id {
      margin-top: 0;
      color: #3989c6
  }

  .templates .invoice main {
      padding-bottom: 50px
  }

  .templates .invoice main .thanks {
      margin-top: -100px;
      font-size: 2em;
      margin-bottom: 50px
  }

  .templates .invoice main .notices {
      padding-left: 6px;
      border-left: 6px solid #3989c6
  }

  .templates .invoice main .notices .notice {
      font-size: 1.2em
  }

  .templates .invoice table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 20px
  }

  .templates .invoice table td,.invoice table th {
      padding: 15px;
      background: #eee;
      border-bottom: 1px solid #fff
  }

  .templates .invoice table th {
      white-space: nowrap;
      font-weight: 400;
      font-size: 16px
  }

  .templates .invoice table td h3 {
      margin: 0;
      font-weight: 400;
      color: #3989c6;
      font-size: 1.2em
  }

  .templates .invoice table .qty,.invoice table .total,.invoice table .unit {
      text-align: right;
      font-size: 1.2em
  }

  .templates .invoice table .no {
      color: #fff;
      font-size: 1.6em;
      background: #3989c6
  }

  .templates .invoice table .unit {
      background: #ddd
  }

  .templates .invoice table .total {
      background: #3989c6;
      color: #fff
  }

  .templates .invoice table tbody tr:last-child td {
      border: none
  }

  .templates .invoice table tfoot td {
      background: 0 0;
      border-bottom: none;
      white-space: nowrap;
      text-align: right;
      padding: 10px 20px;
      font-size: 1.2em;
      border-top: 1px solid #aaa
  }

  .templates .invoice table tfoot tr:first-child td {
      border-top: none
  }

  .templates .invoice table tfoot tr:last-child td {
      color: #3989c6;
      font-size: 1.4em;
      border-top: 1px solid #3989c6
  }

  .templates .invoice table tfoot tr td:first-child {
      border: none
  }

  .templates .invoice footer {
      width: 100%;
      text-align: center;
      color: #777;
      border-top: 1px solid #aaa;
      padding: 8px 0
  }

.template_gallery body{
  height:100%;
  width:100%;
  background-image: -webkit-gradient(
    linear,
	  80 bottom,
	  left 60,
	  color-stop(0, rgb(91,135,115)),
	  color-stop(0.57, rgb(66,110,110)));
  font-family:'lato';
  animation:bgfade 7s;
  -webkit-animation:bgfade 7s; /* Safari and Chrome */
  font-family: 'Open Sans', sans-serif;
}

.template_gallery .desc
{
  text-align: center;
  font-weight: normal;
  width: 100%;
  margin: 0px;
  visibility:hidden;
}

.template_gallery div:hover .desc {
  visibility:visible;
}
.template_gallery div.img img {max-width:100%;}
.template_gallery div.img{
  margin: 155px 5px 0px 0px;
  padding:5px;
  box-sizing:border-box;
  background:#f1f1f1;
  line-height:0px;
  height: auto;
  width: 20%;
  float: left;
  text-align: center;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease; 
  -o-transition:all 0.5s ease; 
  transition:all 0.5s ease;
  border-radius:4px;
}	
.template_gallery div:hover{line-height:30px;font-size:16px;}
.template_gallery div.img img
{
  display: inline-block;
  margin: 3px;
}

@keyframes bgfade
{
0%   {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes bgfade /* Safari and Chrome */
{
0%   {opacity:0;}
100% {opacity:1;}
}

.header_text{
    position: absolute;
    margin: 8% 40%;
    font-size: 25px;
}


@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
        
    }
    .template_gallery .img {
        display: block;
    }
    .header_text{
        position: absolute;
        margin: 10% 40%;
        font-size: 20px;
    }
}

@media print {
    .templates {
       visibility: visible !important;
    }
    .misc{
        display: none;
    }
    .invoice-box table{
        visibility: visible;
        display: block !important;
    }
    .bar{
        display: none;
    }
    .invoice-box{
        margin-top: 10%;
        margin-left: 0%;
    }
 }

 @media only screen and (max-width: 1190px) {
    .invoice-box{
        margin-top: 10%;
        margin-left: 0%;
    }
 }