<!DOCTYPE html>
<html lang="en" xmlns:i xmlns:i>
<head>
    <meta charset="UTF-8">
    <title>Bills</title>
    <link rel="stylesheet" href="static/CSS/bills.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <h3 style="color: white;">{{content}}</h3><br>
                {% for i in bills %}
                <form method="post" class="icon" action="/view_tables/bills">
                    <input type="submit" style="color: white;background-color: unset;border: 0ch;" value={{ i }} name="action">
                </form>
                {% endfor %}
                <br/>
                <a class="icon" href="/dashboard">dashboard</a>
            </ul>
        </div>
    </div>
</body>
</html>