<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/CSS/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
        <ul>
            <li>
                <a href="/create_bill">NewBill</a>
            </li>
            <li>
                <a href="/view_tables">ViewExistingBills</a>
            </li>
            <li><a href="/menu">DeleteBill</a>
                <form method="post" action="/menu">
                    <input type="checkbox" value="Delete Bill" name="action">
                </form>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="title">
            Dashboard
        </div>
    </div>
</body>
</html>