<!DOCTYPE html>
<html lang="en" xmlns:i xmlns:i>
<head>
    <meta charset="UTF-8">
    <title>Bills</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/invoice.css') }}">
</head>
<body>
	<div class="bar">
		<label for="show-menu" class="show-menu">Show Menu</label>
		<input type="checkbox" id="show-menu" role="button">
			<ul id="menu">
			<li><a href="/dashboard">Dashboard</a></li>
			<li>
				<a href="#">Tables ￬</a>
				<ul class="hidden">
					<li>
						{% for i in bills %}
						<form method="post" action="/view_tables/bills">
							<input type="submit" value={{ i }} name="action">
						</form>
						{% endfor %}
					</li>
				</ul>
			</li>
		</ul>
	</div>


	<div class="invoice-box" id={{ stat }}>
			<table>
				<tr class="top">
					<td colspan="2">
						<table>
							<tr>
								<td class="title">
									<img src="./images/logo.png" alt="Company logo" style="width: 100%; max-width: 300px" />
								</td>

								<td>
									Invoice #: 123<br />
									Created: January 1, 2015<br />
									Due: February 1, 2015
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="2">
						<table>
							<tr>
								<td>
									Sparksuite, Inc.<br />
									12345 Sunny Road<br />
									Sunnyville, TX 12345
								</td>

								<td>
									Acme Corp.<br />
									John Doe<br />
									john@example.com
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="heading">
					<td>Payment Method</td>

					<td>Check #</td>
				</tr>

				<tr class="details">
					<td>Check</td>

					<td>1000</td>
				</tr>

				<tr class="heading">
					<td>Items</td>
                    <td>Weight</td>
                    <td>MC</td>
                    <td>Rate</td>
					<td>Amount</td>
				</tr>

                {%for i in rows%}
				<tr class="item">
					<td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
				</tr>
                {%endfor%}

				<tr class="total">
					<td></td>

					<td style="padding-left: 100px;position: relative;">Total: {{total}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>